body {
  padding: 3px 50px 50px 50px;
  font: Helvetica, Arial, sans-serif;
  background-image: url('ice.jpg');
  -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
  zoom: 0.95npm ; /* Other non-webkit browsers */
  zoom: 95%; /* Webkit browsers */
}

a {
  color: #00B7FF;
}

ul{
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

li{
  font: 10px
  text-align: center;
}

p{
  font: 15px;
  font-family: Helvetica;
  color: darkblue;
  text-align: top;
  padding-bottom: 3px;
  font-weight: 600;
}

.btn{
  margin-bottom: 2px;
  width: 100%;
  height: 50px;
}

.container-fluid{
  text-align: center;
}

h1 {
  text-align: center;
  padding-bottom: 5px;
  font-size: 35px;
}

table, td, th {
  text-align: center;
}

table {
  width: 100%;
  padding-top: 5px;
  margin-top: 5px;
}

th {
  height: 10px;
  width: 33%;
  color: darkblue;
  font-size: 15px;
}

td{
  height: 122px;
  width: 33%
}

tr{
  width: 33%;
}

#final{
  background-image: url('Puck.png');
}

img{
  padding-top: 2px;
}